<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>Poznaj Janka :)</title>
	<meta name="description" content="Serwis poświęcony systemowi Linux. Naucz się wszystkiego, co chcesz wiedzieć o Linuxie!" />
	<meta name="keywords" content="linux, kurs, nauka, poznaj, co to jest linux, ubuntu, debian, mint, fedora, wybierz dystrybucję, instalacja linux, polecenia, terminal, bash" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

	<div id="container">

		<div id="logo">
			Poznaj Janka :)
		</div>

		<div id="menu">
			<a href="{{ url_for('index')}}" class="tilelink"><div class="option">Strona główna</div></a>
			<div class="option">Historia</div>
			<a href="{{ url_for('galery')}}" class="tilelink"><div class="option">Galeria</div></a>
			<div class="option">Wiecej</div>
			<div class="option">Kontakt</div>
			<div class="option">O Mnie</div>
            <a href="{{ url_for('login')}}" class="tilelink"><div class="option">Login</div></a>
            <a href="{{ url_for('logout')}}" class="tilelink"><div class="option">Logout</div></a>
			<div style="clear:both;"></div>
		</div>

		<div id="topbar">
			<div id="topbarL">
                {% block picture %}{% endblock %}
			</div>
			<div id="topbarR">
				<span class="bigtitle">O projekcie słów kilka</span>
				<div style="height: 15px;"></div>
				Kiedy mówisz: "Napisałem program, który wywalił Windows, ludzie gapią się na Ciebie głupkowato i mówią: Hej, ja dostałem to wraz z systemem, za darmo" - Linus Torvalds, twórca Linuxa :) Zapraszamy do zapoznania się z witryną, dzięki której dowiesz się co to jest Linux i wybierzesz dystrybucję dla siebie!
			</div>
			<div style="clear:both;"></div>
		</div>

		<div id="sidebar">
			<a href="{{ url_for('index')}}" class="optionLtitle"><div class="optionL">Strona główna</div></a>
			<div class="optionL">Historia</div>
			<a href="{{ url_for('galery')}}" class="optionLtitle"><div class="optionL">Galeria</div></a>
			<div class="optionL">Wiecej</div>
			<div class="optionL">Kontakt</div>
			<div class="optionL">O Mnie</div>
            <a href="{{ url_for('login')}}" class="optionLtitle"><div class="optionL">Login</div></a>
            <a href="{{ url_for('logout')}}" class="optionLtitle"><div class="optionL">Logout</div></a>
		</div>

		<div id="content">

            {% block content %}{% endblock %}

        </div>



		<div id="footer">
			Poznaj Linuxa - najlepszy darmowy system operacyjny. Strona w sieci od 2014r. &copy; Wszelkie prawa zastrzeżone
		</div>


	</div>

</body>
</html>