<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    {% if title %}
	<title>{{title}} - microblog</title>
    {% else %}
    <title>Welcome to micro blog</title>
    {% endif %}

</head>
<body>

    {% extends "base.html" %}
    {% block content %}

    {% for position in phototable %}

        {{phototable[position]}}
        <div class="photo">
            <figure>
                <img src={{position}} alt = 'Profile picture' width="150px" />
                <figcaption>Opis przedmiotu</figcaption>
            </figure>
        </div>

    {% endfor %}


    {% endblock %}

</body>
</html>