<!doctype html>
<html>
    <head>
        <title>Login Page</title>
    </head>

    <body>
        <form action="{{url_for('login')}}" method="POST">

            {% if error %}
            <p style="color:red;">
              {{ error }}
            </p>
            {% endif %}

            <p>
              Username: <input type="text" name="username" />
            </p>
            <p>
              Password: <input type="password" name="password" />
            </p>

            <button type="Submit">Login</button>

        </form>
    </body>
</html>